@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .syntax--storage.syntax--type.syntax--class.syntax--todo {
    color: @bright-blue;
  }

  .syntax--storage.syntax--type.syntax--class.syntax--fixme {
    color: rgb(222, 32, 136);
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .syntax--invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .syntax--marker .syntax--region, .search-results .syntax--marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .syntax--marker.current-result .syntax--region, .search-results .syntax--marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @light-gray;
}

.syntax--entity {
  &.syntax--name.tsyntax--ype {
    color: @light-green;
    text-decoration: underline;
  }

  &.syntax--other.syntax--inherited-class {
    color: @green;
  }
}

.syntax--keyword {
  color: @purple;

  &.syntax--control {
    color: @purple;
  }

  &.syntax--operator {
    color: @syntax-text-color;
  }

  &.syntax--other.syntax--special-method {
    color: @blue;
  }

  &.syntax--other.syntax--unit {
    color: @green;
  }
}

.syntax--storage {
  color: @purple;
}

.syntax--constant {
  color: @green;

  &.syntax--character.syntax--escape {
    color: @cyan;
  }

  &.syntax--numeric {
    color: @green;
  }

  &.syntax--other.syntax--color {
    color: @cyan;
  }

  &.syntax--other.syntax--symbol {
    color: @yellow-green;
  }
}

.syntax--variable {
  color: @bright-blue;

  &.syntax--interpolation {
    color: darken(@bright-blue, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text-color;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  color: @green;

  &.syntax--interpolated {
    .syntax--source.syntax--ruby {
      color: lighten(@syntax-text-color, 20%);
    }
    .syntax--punctuation.syntax--section .syntax--source {
      color: darken(@green, 15%);
    }
  }

  &.syntax--regexp {
    color: @plum;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @syntax-text-color;
    }
  }

  &.syntax--other.syntax--link {
    color: @red;
  }

}

.syntax--punctuation {
  &.syntax--definition {

    &.syntax--constant {
      color: @yellow-green;
    }

    &.syntax--comment {
      color: @light-gray;
    }

    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @bright-blue;
    }

    &.syntax--string {
      color: @green;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @light-green;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: darken(@light-green, 20%);
  }

}

.syntax--support {
  &.syntax--class {
    color: @light-green;
  }

  &.syntax--function  {
    color: @cyan;

    &.syntax--any-method {
      color: @blue;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @blue;
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @light-green;
  }

  &.syntax--name.syntax--section {
    color: @blue;
  }

  &.syntax--name.syntax--tag {
    color: @blue;
    text-decoration: underline;
  }

  &.syntax--other.syntax--attribute-name {
    color: @green;

    &.syntax--id {
      color: @blue;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @light-green;
  }

  &.syntax--link {
    color: @green;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

atom-text-editor {
  &.syntax--bold {
    color: @green;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @green;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view, .scroll-view {
  padding-left: 1px;
}

// @import "colors";

// 3.
// Define custom markdown styles
// ----------------------------------------
// Below is an incomplete list of markdown elements you might want to style
// differently from the default markup elements defined above. All styles are
// empty, primarily to give you an idea of what's possible.

.syntax--markup .syntax--heading-1 {
  color: @plum;
  > .syntax-punctuation {}
  &.syntax-empty {
    .syntax-punctuation {}
  }
}

.syntax--markup .syntax--heading-2 {
  color: lighten(@plum, 10%);
}

.syntax--markup .syntax--heading-3 {
  color: lighten(@plum, 20%);
}

.syntax--markup .syntax--heading-4 {
  color: lighten(@plum, 30%);
}

.syntax--markup .syntax--heading-5 {
  color: lighten(@plum, 40%);
}

.syntax--markup .syntax--heading-6 {
  color: lighten(@plum, 50%);
}


&.syntax--hr {
  color: @bright-blue;
}

.syntax--quote.syntax--markup.syntax--md {
  font-style: italic;
  color: @light-gray;
}


&.syntax--punctuation.syntax--md {
  // color: lighten(@light-gray,30%);
}

&.syntax--link {
  color: @purple;
  .syntax--string {
    color: @yellow-green;
  }
  &.syntax--text {}
  &.syntax--destination {
    .syntax--uri {}
    text-decoration: underline;
  }
  &.syntax--label {}
  &.syntax--title {
    font-style: italic;
  }
  &.syntax--auto {
    &.syntax--email {}
  }
  &.syntax--reference {
    &.syntax--abbreviation {}
  }
  &.syntax--footnote {
    &.syntax--reference {}
    &.syntax--definition {}
  }
}

&.syntax--gfm {
  &.syntax--reference {
    .syntax--mention {}
    .syntax--issue {}
    .syntax--user {}
    .syntax--repository {}
    .syntax--sha {}

    &.syntax--class {}
    &.syntax--method {
      &.syntax--instance {}
      &.syntax--class {}
    }
  }

  &.syntax--emoji {}
}

&.syntax--constant {
  &.syntax--entity {}
  &.syntax--escape {}
  &.syntax--line-break {}
}

&.syntax--reference {
  &.syntax--class {}
  &.syntax--link {}
}

.syntax--markup .syntax--list {

  > .syntax--punctuation {
    &.syntax--checkbox {}
  }

  &.syntax--unordered {
    color: @light-gray;
    .syntax-bold, .syntax--italic {
      color: white;
    }
  }

  &.syntax--ordered {
    color: @light-gray;
    .syntax--bold, .syntax--italic {
      color: white;
    }
  }

  &.syntax--empty {}

  &.syntax--task {
    &.syntax--completed {
      // text-decoration: line-through;
    }
  }

  &.syntax--definition {}
}

&.syntax--code {
  &:not(.syntax--fenced) {
    background: fade(@gray, 10%)
  }

  &.syntax--fenced {
    .syntax--punctuation.syntax--md {
      color: desaturate(@green, 50%);
      font-style: italic;
    }
    &.syntax--info {}
  }

  &.syntax--raw {}
}

&.syntax--constant {
  &.syntax--language {
    color: @orange;
    font-style: italic;
  }
}

&.syntax--emphasis {
  &:not(.syntax--strong) {}

  &:not(.syntax--strong) .syntax--strong {
    font-style: italic;
  }
}

&.syntax--strong.syntax--bold.syntax--markup {
  // color: fade(@very-light-gray, 80%);
  color: "#81a2be";
  font-weight: bold;
}

&.syntax--language.syntax--constant.syntax--md {
  color: @purple;
}


&.syntax--italic.syntax--markup {
  color: fade(@very-light-gray, 80%);
  font-style: italic;
}

.syntax--bold.syntax--markup {
  // color: fade(@very-light-gray, 80%);
  color: "#81a2be";
  font-style: bold;
}

&.syntax--bold.syntax--italic.syntax--markup {
  // color: fade(@very-light-gray, 80%);
  color: "#81a2be";
  font-style: italic !important;
}

&.syntax--table {
  > .syntax--punctuation {
    &.syntax--alignment {}
  }
}

&.syntax--strike {}

&.syntax--critic {
  &.syntax--addition {

}
  &.syntax--deletion {}
  &.syntax--comment {}
  &.syntax--highlight {}
  &.syntax--substitution {}
}

&.syntax--special-attributes {}

&.syntax--attribute {
  &.syntax--special {
    &.syntax--other {}
    &.syntax--id {}
    &.syntax--class {}
  }
  .syntax--value {
    &.syntax--string {}
    &.syntax--storage {}
  }
}


// .syntax--markup {
//   -webkit-font-smoothing: auto;
//   &.syntax--heading {
//     color: red;
//   }
// }
// 
