@white: #ffffff;
@very-light-gray: #e8e9e9;
@light-gray: #969896;
@gray: #646970;
@dark-gray: #494b50;
@mostly-dark-gray: rgb(29, 29, 32);
@very-dark-gray: #202020;
@night-gray: #1a1a1a;
@night-black: #000000;

@cyan: #94d8ca;
@blue: #81a2be;
@bright-blue: #3795d5;
@purple: #b294bb;
@yellow: #d1d56e;
@yellow-green: #6fd78c;
@red: #cc6666;
@green: #55bb84;
@light-green: #a8f7bc;
@orange: #dd8e48;
@plum: #775688;
@violet: #a570e9;
// @violet: #845db6;
