// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #646970;
@dark-gray: #494b50;
@very-dark-gray: #1a1a1a;

@cyan: #94d8ca;
@blue: #81a2be;
@bright-blue: #3795d5;
@purple: #b294bb;
@yellow: #d1d56e;
@yellow-green: #6fd78c;
@red: #cc6666;
@green: #55bb84;
@light-green: #a8f7bc;
@orange: #dd8e48;
@plum: #775688;
