@import "colors";

// 3.
// Define custom markdown styles
// ----------------------------------------
// Below is an incomplete list of markdown elements you might want to style
// differently from the default markup elements defined above. All styles are
// empty, primarily to give you an idea of what's possible.

.heading {
  color: @plum;
  > .punctuation {}
  &.empty {
    .punctuation {}
  }
}

.heading-2 {
  color: lighten(@plum, 10%);
}


.heading-3 {
  color: lighten(@plum, 20%);
}


.heading-4 {
  color: lighten(@plum, 30%);
}


.heading-5 {
  color: lighten(@plum, 40%);
}

&.hr {
  color: @bright-blue;
}

.quote.markup.md {
  font-style: italic;
  color: @light-gray;
}


&.punctuation.md {
  // color: lighten(@light-gray,30%);
}

&.link {
  color: @purple;
  .string {
    color: @yellow-green;
  }
  &.text {}
  &.destination {
    .uri {}
    text-decoration: underline;
  }
  &.label {}
  &.title {
    font-style: italic;
  }
  &.auto {
    &.email {}
  }
  &.reference {
    &.abbreviation {}
  }
  &.footnote {
    &.reference {}
    &.definition {}
  }
}

&.gfm {
  &.reference {
    .mention {}
    .issue {}
    .user {}
    .repository {}
    .sha {}

    &.class {}
    &.method {
      &.instance {}
      &.class {}
    }
  }

  &.emoji {}
}

&.constant {
  &.entity {}
  &.escape {}
  &.line-break {}
}

&.reference {
  &.class {}
  &.link {}
}

&.list {

  > .punctuation {
    &.checkbox {}
  }

  &.unordered {
    color: @light-gray;
  }

  &.ordered {
    color: @light-gray;
  }

  &.empty {}

  &.task {
    &.completed {
      // text-decoration: line-through;
    }
  }

  &.definition {}
}

&.code {
  &:not(.fenced) {
    background: fade(@gray, 10%)
  }

  &.fenced {
    .punctuation.md {
      color: desaturate(@green, 50%);
      font-style: italic;
    }
    &.info {}
  }

  &.raw {}
}

&.constant {
  &.language {
    color: @orange;
    font-style: italic;
  }
}

&.emphasis {
  &:not(.strong) {}

  &:not(.strong) .strong {
    font-style: italic;
  }
}

&.strong.bold.markup {
  color: fade(@very-light-gray, 80%);
}

&.language.constant.md {
  color: @purple;
}


&.italic.markup {
  color: fade(@very-light-gray, 80%);
  font-style: italic;
}

.bold.markup {
  color: fade(@very-light-gray, 80%);
  font-style: normal;
}

&.bold.italic.markup {
  color: fade(@very-light-gray, 80%);
  font-style: italic !important;
}

&.table {
  > .punctuation {
    &.alignment {}
  }
}

&.strike {}

&.critic {
  &.addition {

}
  &.deletion {}
  &.comment {}
  &.highlight {}
  &.substitution {}
}

&.special-attributes {}

&.attribute {
  &.special {
    &.other {}
    &.id {}
    &.class {}
  }
  .value {
    &.string {}
    &.storage {}
  }
}
